version: '3.8'

services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build: ./server
    restart: always
    environment:
      DATABASE_URL: postgres://myuser:mypassword@db:5432/mydb
      JWT_SECRET: secret_key_awesome_ak147
      CLIENT_ORIGIN: http://localhost:3000
      PORT: 8000
    ports:
      - "8000:8000"
    depends_on:
      - db

  frontend:
    build: ./client
    restart: always
    environment:
      NEXT_PUBLIC_API_BASE_URL: http://localhost:8000
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  db_data: